@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script type="text/javascript" src="/js/eventsource.js"></script>

<div class="row">
    <div class="col">
        <h5>Default</h5>
        <div id="dataview-default"></div>
    </div>
    <div class="col">
        <h5>Polyfill</h5>
        <div id="dataview-polyfill"></div>
    </div>
</div>

<script type="text/javascript" src="js/token.js"></script>
<script type="text/javascript" src="/js/polyfill-sse.js"></script>
<script type="text/javascript" src="/js/default-sse.js"></script>

<script>
DefaultSseStart("dataview-default");
PolyfillSseStart("dataview-polyfill");
</script>