@page
@model IndexModel
@{
    ViewData["Title"] = "SSE Razor";
}

<h1>SSE Razor</h1>

<script type="text/javascript" src="/js/eventsource.js"></script>

<div class="row">
    <div class="col">
        <textarea class="form-control" id="token"></textarea>
    </div>
</div>

<div class="row">
    <div class="col">
        <h5>Default</h5>
        <button id="bt-default" class="btn btn-primary">Start</button>
        <div id="dataview-default"></div>
    </div>
    <div class="col">
        <h5>Polyfill</h5>
        <button id="bt-polyfill" class="btn btn-primary">Start</button>
        <div id="dataview-polyfill"></div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="js/token.js"></script>
    <script type="text/javascript" src="/js/polyfill-sse.js"></script>
    <script type="text/javascript" src="/js/default-sse.js"></script>

    <script>

  
$.ajax({ url: "/token", success: function (result) {
    console.log(result);
    $("#token").text(result);
}});

$("#bt-default").click(function () {
    $(this).prop('disabled', true);
    DefaultSseStart("dataview-default", "/sse"); 
});

$("#bt-polyfill").click(function () {
    $(this).prop('disabled', true);
    PolyfillSseStart("dataview-polyfill", "/sse", $("#token").text());
});

// DefaultSseStart("dataview-default");
</script>

}